/.htaccess.sample
/.htaccess.orig
/media/
/var/
/app/etc/local.xml
/.htaccess
wp-config.php
.DS_Store
error_log
/*.project
journal/wp-content/uploads/
events/wp-content/uploads/
journal/.htaccess
events/.htaccess
/.idea/
/robots.txt
/magicento.xml
.idea/magicento.xml

